* {
    transition: 0.1s;
}

h2 {
    font-size: 70px;
}

.text-primary {
    color: #C39253 !important;
}

.hover-primary:hover {
    color: #C39253 !important;
    font-weight: bolder;
}

.cls-change {
    justify-content: center;
}


.fredoka {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.hover-btn-primary:hover {
    background-color: #C39253 !important;
}

h3 {
    font-size: 50px;
}

.hover-zoom:hover {
    font-size: 150%;
    font-weight: bolder;

}

.thumbnail {
    box-shadow: 5px 5px 5px 5px #C39253;

}

.thumbnail:hover {
    box-shadow: 10px 10px 10px 10px #C39253;
}
