* {
    transition: 0.1s;
}

h2 {
    font-size: 70px;
}

.text-primary {
    color: #C39253 !important;
}

.hover-primary:hover {
    color: #C39253 !important;
    font-weight: bolder;
}

.cls-change {
    justify-content: center;
}


.fredoka {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
